@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak]{
  display: none;
}

:root {
  font-family: var(--font-body-family);
  line-height: 1.5;
  font-weight: var(--font-body-weight);
  font-size: var(--font-size-base);
  color: hsla(var(--color-accent) / 1);
  background-color: hsla(var(--color-surface) / 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,*,*::before,*::after {
  margin: 0;
  padding: 0;
}

body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

main{
  flex: 1 0 auto;
}

.mobile-navigation__list-item+li{
  margin-top: 10px;
}
.mobile-navigation__list-item:nth-last-child(2) {
  border-top: 1px solid #C6C6C6;
  padding-top: 11px;
}

div:empty{
  display: none;
}


h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-heading-family);
  font-size: calc(2.5 * var(--font-size-xl));
  line-height: 1.1;
}

/* .btn{
  @apply bg-black text-white border border-gray-300 p-4 inline-block w-fit
} */

.btn{
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.2px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s cubic-bezier(.42,0,.58,1);
  width: 285px;
  height: 36px;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: var(--font-size-base);
  font-weight: bold;
  font-family: var(--font-body-family);
  background-color: hsla(var(--color-contrast) / 1);
  color: hsla(var(--color-primary) / 1);
  cursor: pointer;
  margin: 2rem 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto hsla(var(--color-primary) / 1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

footer .mobile-navigation__list-item:nth-last-child(2) {
  border-top: none;
  padding-top: 0;
} 

footer .mobile-navigation__list-item+li{
  margin-top: 20px;
}

footer a{
  color:#ffffff;
}