<header>
<nav class="flex justify-between lg:hidden">
    <div>
        {% render 'icon-hamburger' %}
    </div>
    <div class="">
        {{ shop.name }}
    </div>
    <div>0</div>
</nav>
</header>
{% schema %}
    {
        "name": "header",
        "class": "header",
        "settings": [],
        "presets":[
            {
                "name":"Header"
            }
        ]
    }
{% endschema %}
